%h1 Students
%table#applications
  %thead
    %tr
      %th Name
      %th Email
      %th Major
      %th Graduation Year
      %th Info
  %tbody
    - Student.all.each do |student|
      %tr
        %td= student.name 
        %td= student.email
        %td= student.major
        %td= student.graduation
        %td= student.info

%h1 Clients
%table#applications
  %thead
    %tr
      %th Name
      %th Email
      %th Comments
      
  %tbody
    - Client.all.each do |client|
      %tr
        %td= client.name 
        %td= client.email
        %td= client.info

%h1 Sponsors
%table#applications
  %thead
    %tr
      %th Name
      %th Email
      %th Comments
  %tbody
    - Sponsor.all.each do |sponsor|
      %tr
        %td= sponsor.name 
        %td= sponsor.email
        %td= sponsor.info