%h1 Students
%table#applications{:align => "center"}
  %thead
    %tr
      %th Name
      %th Email
      %th Major
      %th Graduation Year
      %th Info
  %tbody
    - Studentapplication.all.each do |studentapplication|
      %tr
        %td=studentapplication.name 
        %td=studentapplication.email
        %td=studentapplication.major
        %td=studentapplication.graduation
        %td=studentapplication.info
%br
%h1 Clients
%table#applications{:align => "center"}
  %thead
    %tr
      %th Name
      %th Email
      %th Comments
  %tbody
    - Client.all.each do |client|
      %tr
        %td= client.name 
        %td= client.email
        %td= client.info
%br
%h1 Sponsors
%table#applications{:align => "center"}
  %thead
    %tr
      %th Name
      %th Email
      %th Comments
  %tbody
    - Sponsor.all.each do |sponsor|
      %tr
        %td= sponsor.name 
        %td= sponsor.email
        %td= sponsor.info
%br