.container_graybox
  %p Applications
=form_tag studentapplications_change_status_path, method: "post" do
  %table#applications{:align => 'center'}
    %thead
      %tr
        %th{:style => 'text-align: center'} Name
        %th{:style => 'text-align: center'} Email
        %th{:style => 'text-align: center'} Major
        %th{:style => 'text-align: center'} Graduation Year
        %th{:style => 'text-align: center'} Info
        %th{:style => 'text-align: center'} Resume
        %th{:style => 'text-align: center'} Essay
        %th{:style => 'text-align: center'} Status
        %th{:style => 'text-align: center'}=check_box_tag 'Check All'
    %tbody
      - Studentapplication.all.each do |studentapplication|
        %tr
          %td.name=studentapplication.user.name 
          %td.email=studentapplication.user.email
          %td.major=studentapplication.major
          %td.grad=studentapplication.graduation
          %td.info=studentapplication.info
          %td.resume
            %a{:href => studentapplication.resume, :target => "_blank"}>#{studentapplication.resume_identifier}
          %td.essay=link_to "View Essays", "/admin/viewessays/#{studentapplication.id}", target: "_blank"
          %td.status=studentapplication.status
          %td.select=check_box_tag "select_user[]", studentapplication.id
  %br
  = text_area_tag 'text', '', size: "30x5", placeholder: "This message will be sent to those who have their application status changed"
  %br
  = button_tag 'Accept Selected', name: "accept"
  = button_tag 'Reject Selected', name: "reject"
// .container_graybox
//   %p Clients
// %table#clients{:align => 'center'}
//   %thead
//     %tr
//       %th Name
//       %th Email
//       %th Comments
//   %tbody
//     - Client.all.each do |client|
//       %tr
//         %td= client.name 
//         %td= client.email
//         %td= client.info
// %br
// .container_graybox
//   %p Sponsors
// %table#sponsors{:align => "center"}
//   %thead
//     %tr
//       %th Name
//       %th Email
//       %th Comments
//   %tbody
//     - Sponsor.all.each do |sponsor|
//       %tr
//         %td= sponsor.name 
//         %td= sponsor.email
//         %td= sponsor.info
// %br