.container_graybox
  %p Become a Client
.container
  %form
  %center
    %p
    %p
    %p
    %p
    = form_tag('/clients#create', :method => :post) do
      %h2 Client Info
      %br
      %h3 Your Name
      = label :client, :name
      = text_field :client, 'name', required: true
      %br
      %h3 Your Email
      = label :client, :email
      = text_field :client, 'email', required: true
      %br
      %h3 Comments?
      = label :client, :info
      = text_field :client, 'info', required: true
      %br
      %br
      %br
      .form-actions
        = submit_tag 'Submit'
      %br
      %br
      %br
      %br