.container_graybox
  %p Become a Sponsor
.container
  %form
  %center
    %p
    %p
    %p
    %p
    = form_tag('/sponsors#create', :method => :post) do
      %h2 Sponsor Info
      %br
      %h3 Your Name
      = label :sponsor, :name
      = text_field :sponsor, 'name', required: true
      %br
      %h3 Your Email
      = label :sponsor, :email
      = text_field :sponsor, 'email', required: true
      %br
      %h3 Comments?
      = label :sponsor, :info
      = text_field :sponsor, 'info', required: true
      %br
      %br
      %br
      .form-actions
        = submit_tag 'Submit'
      %br
      %br
      %br
      %br