-# edit.html.haml

%h1 Edit

= form_tag studentapplication_path(@studentapplication), :method => :put do

  = label :user, :name, 'Name'
  = text_field :user, :name
  
  = label :user, :email, 'Email'
  = email_field :user, :email

  = label :studentapplication, :major, 'Major'
  = text_field :studentapplication, :major
  
  = label :studentapplication, :graduation, 'Graduation'
  = text_field :studentapplication, 'graduation'
  
  = label :studentapplication, :info, 'Info'
  = text_field :studentapplication, :info
  
  = label :studentapplication, :info, 'Essay'
  = text_field :studentapplication, :essay

  = submit_tag 'Update Application'