-# edit.html.haml

%h1 Edit

= simple_form_for @studentapplication, url: {action: "show"}, html: {class: "nifty_form"} do |f|
  %br
  = f.simple_fields_for :user, @studentapplication.user do |user|
    %br
    = user.input :name, :required => true
    %br
    = user.input :email, :as => :email, :required => true
  %br
  = f.input :major, :required => true
  %br
  = f.input :graduation, :required => true
  %br
  = f.input :info, :required => true
  - @essays.each do |question, answer|
    %br
    %div{:class => "input text required studentapplication_essay"}
      =content_tag(:label, content_tag(:abbr, '*', :title => 'required') + " #{question}", :class => "text required", :for => question)
      %br
      // = f.input :essay, :as => :text, :required => true, :input_html => {:cols => 50, :rows => 10}
      %textarea{:type=>"text", :id => question, :name => "essay[]", :required => true, :cols => 60, :rows => 10}
        =answer
  %br
  
  %strong Resume: <a href = #{@studentapplication.resume}>#{@studentapplication.resume_identifier}</a>
  = f.input :resume, :as => :file, :input_html => {:style => "margin-left:auto;margin-right:auto"}
  %br
  = f.submit 'Update Application'
  %br
  %br