-# edit.html.haml

%h1 Edit

= simple_form_for @studentapplication, url: {action: "show"}, html: {class: "nifty_form"} do |f|
  %br
  = f.simple_fields_for :user, @studentapplication.user do |user|
    %br
    = user.input :name, :required => true
    %br
    = user.input :email, :as => :email, :required => true
  %br
  = f.input :major, :required => true
  %br
  = f.input :graduation, :required => true
  %br
  = f.input :info, :required => true
  %br
  = f.input :essay, :as => :text, :required => true, :input_html => {:rows => 10}
  %br
  %h3 Attatch Resume
  = f.input :file, as: :file
  %br
  = f.submit 'Update Application'
  %br
  %br