-# in app/views/studentapplications/show.html.haml

.container_graybox
  %p View Your Application
%h1 Hi #{@studentapplication.user.name},
%h4 #{@status}
%h4 #{@studentapplication.message}

%h3 Your application:

%body#details{:align => "center"}
  %li
    Email:
    = @studentapplication.user.email
  %li
    Major:
    = @studentapplication.major
  %li
    Graduation:
    = @studentapplication.graduation
  %li
    Info:
    = @studentapplication.info
  %li
    Essay:
    = @studentapplication.essay
  %li
    Resume:
    %a{:href => @studentapplication.file}>#{@studentapplication.file_identifier}
%p
= link_to 'Edit', edit_studentapplication_path(@studentapplication)

%p
***Application Deadline****
%br Thursday May 12th - 11:59pm
%p
%p