-# in app/views/studentapplications/show.html.haml

.container_graybox
  %p View Your Application
%h1 Hi #{@studentapplication.user.name},
%h4 #{@status}
%h4 #{@studentapplication.message}

%h3 Your application:

%body#details{:align => "center"}
  %li
    Name:
    = @studentapplication.user.name
  %li
    Email:
    = @studentapplication.user.email
  %li
    Major:
    = @studentapplication.major
  %li
    Graduation:
    = @studentapplication.graduation
  %li
    Info:
    = @studentapplication.info
  %li
    %h4 Essays
    - Prompt.all.each_with_index do |essay, index|
      %strong=essay.text
      %br
      = @studentapplication.essay[index]
      %br
  %li
    Resume:
    %a{:href => @studentapplication.resume}>#{@studentapplication.resume_identifier}
    %br
  = link_to 'Edit', edit_studentapplication_path(@studentapplication), :id => "edit"

%p
- if not Deadline.last.nil?
  ***Application Deadline****
  %br #{Deadline.last.date.strftime("%m/%d/%Y")} #{Deadline.last.date.strftime("at %I:%M%p")} 
%p
%p