-# in app/views/studentapplications/show.html.haml

%h1 Hi #{@studentapplication.user.name},
%h4 #{@status}
%h4 #{@studentapplication.message}

%h3 Your application:

%body#details{:align => "center"}
  %li
    Email:
    = @studentapplication.user.email
  %li
    Major:
    = @studentapplication.major
  %li
    Graduation:
    = @studentapplication.graduation
  %li
    Info:
    = @studentapplication.info
  %li
    Essay:
    = @studentapplication.essay

= link_to 'Edit', edit_studentapplication_path(@studentapplication)

%p
***Application Deadline****
%br Thursday May 12th - 11:59pm