!!!
%html
  %head
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", :rel => "stylesheet"}/
    %title 180 DC at Berkeley
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/home"}
            =image_tag asset_path("logo.png"), :alt => "180 DC"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
          %ul.nav.navbar-nav.navbar-right
            %li.home
              %a{:href => "/home"} Home
            %li.about
              %a{:href => "/about"} About
            %li.teams
              %a{:href => "/team"} Teams
            %li.applications
              %a{:href => "/applications"} Apps
            - if user_signed_in? && current_user.member_type == 'admin'
              %li.admin
                = link_to "Admin", admin_path, class: active(admin_path)
            - if user_signed_in?
              %li.logout
                = link_to 'Logout', destroy_user_session_path, :method => 'delete'
              .container_loggedin
                %p
                = 'signed in as ' + current_user.email
            - else
              %li.login  
                = link_to 'Login', new_user_session_path
    %br
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    -elsif flash[:alert] 
      #warning.message= flash[:alert]
    %br
    = yield
    %footer
      .container
        .row
          .col-lg-12
            %p 180 DC - Berkeley